{% extends 'base.html' %}

{% block body %}

<div class="container">  
    <h6>shop started in 2019 </h6>
    <address>
      <b> email: </b> rajasthantiles@gmail.com<br>
      <hr style="margin-left:0px ;height:0px; width:50%;;color:#010d37;background-color:#010d37">
      <b> contact: </b> 8839368015<br>
      <b>Rajasthan Tiles</b> <br>
      Beside Raja Ki Bagiya<br>
      chhindwara, <br>
      Madhya Pradesh - 480001, India
    </address>
    <hr style="margin-left:0px ;height:0px; width:50%;;color:gray;background-color:#010d37">
  
  </div>

<div class="container">
    <p>give feedback on <b> email@gmail.com</b></p>
    <h6>developer <b>name of developer</b></h6>
</div>

{% endblock %}